.input-box {
  cursor: text;
  position: relative;
  line-height: 1.5rem;
  background-color: #f9f9f9;
  font-weight: 400;
  margin-bottom: 20px;
  height: 40px;
  overflow: hidden;

  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7);
  border: 1px solid;
  border-color: #87919c #959ea9 #9ea7b1 #959ea9;
  border-radius: 3px;
}

.input-box .input-box-field {
    display: inline-block;
    
    position: relative;
    width: 100%;
    white-space: nowrap;
    resize: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow-x: scroll;
    height: 57px;
    padding: 8px 5px;
    background: #fff;
    color: #3f4b54;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text;   /* Chrome/Safari/Opera */
    -khtml-user-select: text;    /* Konqueror */
    -moz-user-select: text;      /* Firefox */
    -ms-user-select: text;       /* Internet Explorer/Edge */
    user-select: text; 
}
.input-box .input-box-field:not([view=text]) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
}
.input-box .input-box-field:not([view=text]) *::selection {
    background: transparent;
}
.input-box .changeView {
    content: 'VIEW';
    position: absolute;
    right: 1px;
    top: 1px;
    height: calc(100% - 4px);
    border: 1px solid black;
    width: 50px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.input-box .input-box-field:focus { outline: 0; }
.input-box .input-box-field:empty { caret-color: #333; }
.input-box .input-box-field br { display: none; }
.input-box .input-box-placeholder {
    position: absolute;
    top: 5px;
    left: .5rem;
    right: .5rem;
    pointer-events: none;
	color: #bfb0b0;  
}
.input-box .input-box-placeholder:before { content: attr(data-ph); }
.input-box .input-box-field:not(:empty) ~ .input-box-placeholder { display: none; }

.input-item .itemBody {
    padding: 0px 10px;
    display: inline-block;
}
.input-item .itemBody .functionItemInside {
    padding: 5px 15px 5px 10px;
    position: relative;
}
.input-item .itemBody .functionItemInside .deleteItemFunction {
    position: absolute;
    width: 10px;
    height: 100%;
    right: 0;
    text-align: center;
    color: #060000;
    cursor: pointer;
    font-weight: bold;
}
.input-box .input-box-field .input-item .deleteItem {
    position: absolute;
    width: 24px;
    height: 100%;
    right: 0;
    border-left: 1px solid #fff;
    text-align: center;
    color: white;
    background: #b54444;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.input-box .input-box-field .input-item .deleteItem:hover, .deleteItemFunction:hover {
    opacity: 0.5;
}

.menu .menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.menu .menu-item {
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #bebebe;
}
.menu .menu-item:hover {
    background-color: #f9f9f9;
}

.dragBox {
    margin: 0 5px;
    padding: 0px 24px 0px 0px;
    border: 1px solid #bebebe;
    background-color: #70b76366;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #3f4b54;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
}
.dragBox.draging {
    background-color: #b7babd;
    color: #999;
}
.dragBox.dragingOut {
    padding-right: 0px;
}
.dragBox.dragingOut .deleteItem {
    display: none;
}
.dragBox.textBlock{
    cursor: text;
}

.selectWrapper {
    position: relative;
    margin-top: 3px;
    border-radius: 3px;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 10px 2px #ffdbdb;
}
.selectWrapper .selectItem {
    padding: 3px;
    cursor: pointer;
}
.selectWrapper .selectItem:hover {
    background-color: #cecece;
}

.selectWrapper .selectWrapperBody {
    position: absolute;
    left: 100%;
    top: 0;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #ffdbdb;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition-delay: 0.3s;
}
.selectWrapper:hover .selectWrapperBody {
    opacity: 1;
    visibility: visible;
}
.selectWrapper .selectWrapperTitle {
    cursor: pointer;
}
.selectWrapper .selectWrapperTitle:hover {
    background-color: #cecece;
}